<!doctype html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Doação para ONG - Social Funding{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,100,300,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/css/jquery-ui.css') }}">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        {% block header %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}
            <header>
                <div class="header-wrapper">
                    <div class="logo" itemscope="" itemtype="http://schema.org/Organization">
                        <a href="{{ path('search_index') }}" title="Social Funding" itemprop=ürl><img src="{{ asset('bundles/frontend/images/logo-social-funding.png') }}" alt="Social Funding" itemprop="logo"></a>
                    </div><!--logo-->
                    <div class="social-icons">
                        <a href="#" title="Curta nossa fanpage no Facebook"><img src="{{ asset('bundles/frontend/images/facebook.png') }}" alt="Facebook"></a>
                        <a href="#" title="Siga-nos no Twitter"><img src="{{ asset('bundles/frontend/images/twitter.png') }}" alt="Twitter"></a>
                        <a href="#" title="Siga-nos no Instagram"><img src="{{ asset('bundles/frontend/images/instagram.png') }}" alt="Instagram"></a>
                    </div><!--social-icons-->
                    {% if is_granted('ROLE_FACEBOOK') %}
                    <nav class="main-menu with-logged" style="width: 685px;">
                        <ul>
                            <li><a href="{{ path('search_about_us') }}">quem somos</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}" class="menu-border">cadastrar ong<h2 style="text-indent: -9999em">Cadastrar ONG</h2></a></li>
                            <form action="{{ path('search_search') }}" method="get" class="search">
                            <input type="submit" class="search-send" value="">
                            <input type="text" name="q" class="field" placeholder="Pesquisar ONG">
                            </form>
                            <li><a href="" class="menu-border">ajuda</a></li>
                        </ul>
                        <a href="#" class="logged">{{ app.security.token.user.firstname }}</a>
                        <ul class="logged-menu" style="left: 477px;">
                            <li><a href="{{ path('user_user_perfil') }}?tab=0" class="create-campaign">Ongs Apoiadas</a></li>
                            {#<li><a href="{{ path('ong_list_campaign') }}" class="my-campaigns">Seguir Amigos</a></li>#}
                            <li><a href="{{ path('user_user_perfil') }}?tab=1" class="info">Informações</a></li>
                            <li><a href="{{ path('_security_logout') }}" class="logout">LOG OUT</a></li>
                        </ul>
                    </nav><!--main-menu-->
                    {% else %}
                    <nav class="main-menu">
                    <ul>
                        <li><a href="{{ path('search_about_us') }}">quem somos</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}" class="menu-border">cadastrar ong<h2 style="text-indent: -9999em">Cadastrar ONG</h2></a></li>
                        <form action="{{ path('search_search') }}" method="get" class="search">
                            <input type="submit" class="search-send" value="">
                            <input type="text" name="q" class="field" placeholder="Pesquisar ONG">
                        </form>
                        <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
                        <li><a href="" class="menu-border">ajuda</a></li>
                    </ul>
                    </nav><!--main-menu-->
                    {% endif %}
                </div><!--header-wrapper-->
                <div class="clearAll"></div>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <p>
                            {{ flashMessage|raw }}
                        </p>
                    </div>
                {% endfor %}
                <div class="clearAll"></div>
            </header>
            <div class="clearAll"></div>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>
            <div class="footer-wrapper">
                <nav class="footer-menu">
                    <ul>
                        <li><a href="{{ path('search_about_us') }}" class="nav-link">Quem somos</a></li>
                        <li><a href="{{ path('search_faq') }}" class="nav-link">Dúvidas Frequentes</a></li>
                        <li><a href="{{ path('search_contact') }}" class="nav-link">Contato</a></li>
                        <li><a href="{{ path('search_use_terms') }}" class="nav-link">Termos de uso</a></li>
                    </ul>
                </nav><!--footer-menu-->
                <div class="news-social">
                    <div class="social-icons">
                        <a href="http://facebook.com/socialfundingbr" target="_blank" title="Curta nossa fanpage no Facebook"><img src="{{ asset('bundles/frontend/images/facebook.png') }}" alt="Facebook"/></a>
                        <a href="http://twitter.com/socialfundingbr" target="_blank" title="Siga-nos no Twitter"><img src="{{ asset('bundles/frontend/images/twitter.png') }}" alt="Twitter"/></a>
                        <a href="http://instagram.com/socialfunding" target="_blank" title="Siga-nos no Instagram"><img src="{{ asset('bundles/frontend/images/instagram.png') }}" alt="Instagram"/></a>
                    </div><!--social-icons-->
                    <p>Assine nossa news</p>

                    <form action="{{ path('newsletter_register') }}" class="search" method="POST">
                        <input type="text" name="email" class="field" placeholder="Digite seu email aqui">
                        <input type="submit" class="btn" value="">
                    </form>


                </div><!--news-social-->
                <div class="text-footer">
                    <p>Bem vindo a SocialFunding.com.br, a única plataforma de crowdfunding que busca contribuir com a responsabilidade social do nosso planeta! De forma colaborativa, trabalhamos com uma plataforma que integra diferentes projetos sociais, ONGs, instituições sociais, fundações e empresas do terceiro setor e que busca voluntários para as doações de diversos produtos necessários para manter as ONGs afiliadas.</p>
                    <p>Somos parceiros de grandes empresas do mercado, como o Extra.com, PontoFrio.com e as Casas Bahia e dessa forma, você só seleciona o produto que quer doar e pronto! Todo o trabalho de entrega é feito por nós. Ajude e colabore! Dessa forma você ajuda a mudar o mundo com a gente!</p>
                </div>
                <div class="copy">
                    <p>Copyright 2014 socialfunding.com.br - Todos os direitos reservados</p>
                </div><!--copy-->
            </div><!--footer-wrapper-->
        </footer><!--footer-->
        <script src="{{ asset('bundles/frontend/js/jcarousel.js') }}"></script>
        <script src="{{ asset('bundles/frontend/js/jquery.maskedinput.min.js') }}"></script>
        {% block googleAnalytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-47954015-1', 'socialfunding.com.br');
                ga('send', 'pageview');

            </script>
        {% endblock %}
        <script>
            $(document).ready(function(){
                $('.carousel-reviewers')
                        .jcarousel({
                            wrap: 'circular'
                        })
                        .jcarouselAutoscroll({
                            interval: 4998,
                            target: '+=1',
                            autostart: true
                        });

                $(function() {
                    $('.carousel-hero').jcarousel({
                        wrap: 'circular'
                    });


                    $('.carousel-next').jcarouselControl({
                        target: '+=1'
                    });
                });
                $(".logged").click(function(){
                    $(".logged-menu").toggle();
                });
            });
        </script>
    </body>
</html>