<!doctype html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/css/style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/css/jquery-ui.css') }}">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        {% block header %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}
            <header>
                <div class="header-wrapper">
                    <div class="logo" itemscope="" itemtype="http://schema.org/Organization">
                        <a href="{{ path('search_index') }}" title="Social Funding" itemprop=ürl><img src="{{ asset('bundles/frontend/images/logo-social-funding.png') }}" alt="Social Funding" itemprop="logo"></a>
                    </div><!--logo-->
                    <div class="social-icons">
                        <a href="#" title="Curta nossa fanpage no Facebook"><img src="{{ asset('bundles/frontend/images/facebook.png') }}" alt="Facebook"></a>
                        <a href="#" title="Siga-nos no Twitter"><img src="{{ asset('bundles/frontend/images/twitter.png') }}" alt="Twitter"></a>
                        <a href="#" title="Siga-nos no Instagram"><img src="{{ asset('bundles/frontend/images/instagram.png') }}" alt="Instagram"></a>
                    </div><!--social-icons-->
                    <nav class="main-menu with-logged">
                        <ul>
                            <li><a href="" class="menu-border">ajuda</a></li>
                        </ul>
                        <a href="#" class="logged">{{ ong.nomeFantasia }}</a>
                        <ul class="logged-menu">
                            <li><a href="{{ path('ong_create_campaign') }}" class="create-campaign">Criar Campanha</a></li>
                            <li><a href="{{ path('ong_list_campaign') }}" class="my-campaigns">Minhas Campanhas</a></li>
                            <li><a href="{{ path('ong_edit_perfil') }}" class="info">Informações</a></li>
                            <li><a href="{{ path('_security_logout') }}" class="logout">LOG OUT</a></li>
                        </ul>
                    </nav><!--main-menu-->
                </div><!--header-wrapper-->
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>
            <div class="footer-wrapper">
                <nav class="footer-menu">
                    <ul>
                        <li><a href="{{ path('search_about_us') }}" class="nav-link">Quem somos</a></li>
                        <li><a href="{{ path('search_faq') }}" class="nav-link">Dúvidas Frequentes</a></li>
                        <li><a href="{{ path('search_contact') }}" class="nav-link">Contato</a></li>
                        <li><a href="{{ path('search_use_terms') }}" class="nav-link">Termos de uso</a></li>
                    </ul>
                </nav><!--footer-menu-->
                <div class="news-social">
                    <div class="social-icons">
                        <a href="http://facebook.com/socialfundingbr" target="_blank" title="Curta nossa fanpage no Facebook"><img src="{{ asset('bundles/frontend/images/facebook.png') }}" alt="Facebook"/></a>
                        <a href="http://twitter.com/socialfundingbr" target="_blank" title="Siga-nos no Twitter"><img src="{{ asset('bundles/frontend/images/twitter.png') }}" alt="Twitter"/></a>
                        <a href="http://instagram.com/socialfunding" target="_blank" title="Siga-nos no Instagram"><img src="{{ asset('bundles/frontend/images/instagram.png') }}" alt="Instagram"/></a>
                    </div><!--social-icons-->
                    <p>Assine nossa news</p>

                    <form action="{{ path('newsletter_register') }}" class="search" method="POST">
                        <input type="text" name="email" class="field" placeholder="Digite seu email aqui">
                        <input type="submit" class="btn" value="">
                    </form>


                </div><!--news-social-->
                <div class="text-footer">
                    <p>Bem vindo a SocialFunding.com.br, a única plataforma de crowdfunding que busca contribuir com a responsabilidade social do nosso planeta! De forma colaborativa, trabalhamos com uma plataforma que integra diferentes projetos sociais, ONGs, instituições sociais, fundações e empresas do terceiro setor e que busca voluntários para as doações de diversos produtos necessários para manter as ONGs afiliadas.</p>
                    <p>Somos parceiros de grandes empresas do mercado, como o Extra.com, PontoFrio.com e as Casas Bahia e dessa forma, você só seleciona o produto que quer doar e pronto! Todo o trabalho de entrega é feito por nós. Ajude e colabore! Dessa forma você ajuda a mudar o mundo com a gente!</p>
                </div>
                <div class="copy">
                    <p>Copyright 2014 socialfunding.com.br - Todos os direitos reservados</p>
                </div><!--copy-->
            </div><!--footer-wrapper-->
        </footer><!--footer-->
        <script src="{{ asset('bundles/frontend/js/jcarousel.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('.carousel-reviewers')
                        .jcarousel({
                            wrap: 'circular'
                        })
                        .jcarouselAutoscroll({
                            interval: 4998,
                            target: '+=1',
                            autostart: true
                        });

                $(function() {
                    $('.carousel-hero').jcarousel({
                        wrap: 'circular'
                    });


                    $('.carousel-next').jcarouselControl({
                        target: '+=1'
                    });
                });
            });
        </script>
    </body>
</html>