{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <script>
        function goLogIn(){
            window.location.href = "{{ path('_security_check_fb') }}";
        }

        function onFbInit() {
            if (typeof(FB) != 'undefined' && FB != null ) {
                FB.Event.subscribe("auth.logout", function() {
                    window.location.href = "{{ path('_security_logout') }}";
                });
                FB.Event.subscribe('auth.statusChange', function(response) {
                    if (response.session || response.authResponse) {
                        setTimeout(goLogIn, 500);
                    } else {
                        window.location.href = "{{ path('_security_logout') }}";
                    }
                });
            }
        }
    </script>
    {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<h2 class="registration-sub-title">LOGIN</h2>

    <div class="login-main-block" style="width: 650px; margin: 0 auto;">
        <div class="login-left-block" style="float: left; width: 300px; height: 600px; margin-right: 35px; background: #f5f5f5;">
            <h3 class="login-block-title">DOADOR</h3>
            {{ facebook_login_button({'autologoutlink': true}) }}
        </div>
        <div class="login-right-block" style="float: left; width: 300px; height: 600px; background: #f5f5f5;">
            <h3 class="login-block-title" style="font-size: 26px; margin-top: 15px;">ONG</h3>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="main-cadastro-ong-line">
                    <span class="main-cadastro-ong-label">
                        <label for="username">Email</label>
                    </span>
                    <div class="main-cadastro-ong-input">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="clearAll"></div>
                <div class="main-cadastro-ong-line">
                    <span class="main-cadastro-ong-label">
                        <label for="password">Senha</label>
                    </span>
                    <div class="main-cadastro-ong-input">
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                </div>
                <div class="clearAll"></div>
                <span class="forgot-password">Esqueci minha senha</span>
                <div class="buttonLine">
                    <input type="submit" id="_submit" name="_submit" class="login-button" value="Entrar" />
                </div>
                <div class="clearAll"></div>
                <div class="buttonLine-registration">
                    <div class="clearAll"></div>
                    <a href="#" class="registration-button">Cadastrar ONG</a>
                </div>
            </form>
        </div>
    </div>

{% endblock fos_user_content %}
